#middle-container {
    position: relative;
    width: 40%;
    padding: 20px;
    border-right: solid gray 1px;
    border-left: solid gray 1px;
    box-shadow: rgb(0 0 0 / 25%) -3px 0px 10px, rgb(0 0 0 / 25%) 3px 0px 10px;

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .open-left-container-btn,
        .open-right-container-btn {
            display: none;
        }

        .user-image-container {
            height: 44px;
        }

        .user-image {
            width: 40px;
            height: 40px;
        }

        h1 {
            margin-block-start: revert;
        }
    }

    h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 300;
    }

    .list-message {
        padding: 0;
        height: calc(100% - 200px);
        overflow-y: auto;
    }

    .message {
        position: relative;
        list-style: none;
        background-color: #80808061;
        margin: 20px;
        border-radius: 10px;
        padding: 20px 40px 20px 20px;
        box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
        font-size: 16px;
        white-space: pre-line;
        display: grid;
        grid-template:
            "b a e" auto
            "b c c" auto/80px calc(100% - 90px) 1fr;
    }

    .user-image-container {
        grid-area: b;
        align-self: center;
    }

    .user-image {
        width: 60px;
        height: 60px;
        border-radius: 40px;
        border: solid 2px white;
        box-shadow: rgb(0 0 0 / 25%) 0px 1px 5px;
    }

    .container-username-date {
        grid-area: a;
    }

    .user-username {
        color: #75a7ff;
        font-weight: bold;
        text-decoration: none;
    }

    .user-username:focus,
    .user-username:active,
    .user-username:hover {
        color: #377df9;
    }

    .message-date {
        font-size: 10px;
        margin: 0 10px;
        color: gray;
    }

    .message-content {
        grid-area: c;
    }

    .message-options {
        grid-area: e;
        position: relative;
        bottom: 10px;
    }

    .message-options,
    .channel-options {
        width: 35px;
        color: gray;
        border-radius: 40px;
    }

    .message-options:focus,
    .message-options:hover,
    .message-options.focus,
    .channel-options:focus,
    .channel-options:hover,
    .channel-options.focus {
        background: #555555;
        color: white;
    }

    .message-options-list,
    .channel-options-list {
        position: absolute;
        top: 40px;
        background-color: #555555;
        border-radius: 5px;
        width: 120px;
        padding: 5px;
        list-style: none;
        box-shadow: rgb(0 0 0 / 25%) 0px 1px 5px;
        font-size: 16px;

        li {
            padding: 7px;
            cursor: pointer;
            ;

            &:hover {
                background-color: #353535;
                border-radius: 5px;
            }
        }
    }

    .message-options-list {
        right: 15px;
    }

    .channel-options-list {
        right: 0px;
        z-index: 1;
    }

    .message-field-container,
    .join-channel-container {
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 20px;
        width: -webkit-fill-available;
        width: -moz-available;
    }

    .no-message-yet {
        font-size: 18px;
    }

    .join-channel-container {
        border-radius: 35px;
        height: 56px;
    }

    .deleted-message {
        list-style: none;
        background-color: rgba(128, 128, 128, 0.3803921569);
        margin: 20px;
        border-radius: 10px;
        padding: 20px 40px 20px 20px;
        box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
        font-size: 16px;
    }

    .element-with-tooltip {
        position: relative;
    }

    .element-with-tooltip .tooltip {
        visibility: hidden;
        width: 150px;
        background-color: #353535;
        color: #fff;
        text-align: center;
        padding: 7px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: -174px;
        list-style: none;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .element-with-tooltip .tooltip::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        right: 0;
        margin-right: -12px;
        border: 15px solid;
        border-color: transparent transparent transparent #353535;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .element-with-tooltip:hover .tooltip,
    .element-with-tooltip:focus .tooltip {
        visibility: visible;
        opacity: 1;
    }
}


@media screen and (max-width: 1000px) {
    #middle-container {
        width: auto;
        z-index: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        header .useless-div-for-flex {
            display: none;
        }

        header .open-left-container-btn,
        header .open-right-container-btn {
            display: block;
        }

        .container-username-date {
            display: flex;
            flex-direction: column;
        }

        .message-date {
            margin: 0;
        }
    }
}