#left-container {
    position: relative;
    width: 30%;
    padding: 20px;
    min-width: 310px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .close-left-container-btn {
            display: none;
        }
    }

    h1 {
        font-size: 30px;
    }

    .search-bar {
        position: relative;
        z-index: 1;
        margin-top: 30px;
    }

    ul#subscribed-channels {
        position: absolute;
        z-index: 0;
        top: 200px;
        left: 20px;
        right: 20px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 2px;
            font-size: 20px;
            transition: padding 2s ease-out 100ms;
            color: gray;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
        }

        li:hover,
        li:focus,
        li.focus {
            background-color: #8080802e;
            padding: 10px 30px;
            color: white;
        }

        .number-unread-messages {
            height: 30px;
            background-color: red;
            border-radius: 20px;
            text-align: center;

            span {
                color: white;
                font-size: 16px;
                margin: auto;
                padding: 10px;
                vertical-align: bottom;
            }
        }
    }

    .search-results-container {
        position: relative;
        padding: 60px 15px 10px 15px;
        z-index: 0;
        background-color: #3e4047;
        border-radius: 35px;
        transform: translateY(-56px);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;

        span {
            font-size: 16px;
            padding-left: 10px;
        }

        ul {
            margin: 10px;
        }

        .loading-container {
            display: flex;
            column-gap: 10px;
            padding: 10px;
        }

        .loader {
            border: 2px solid #f3f3f3;
            border-top: 2px solid #555;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #left-container {
        display: none;
        position: absolute;
        width: auto;
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #282c34 !important;

        header .close-left-container-btn {
            display: block;
            height: 41px;
        }
    }

    #left-container.open {
        display: block;
    }
}