#initial-loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: black;
    z-index: 100000000000;
}

#loader-text {
    color: #1ff042;
    display: block;
    font-family: 'Ubuntu';
    font-size: 20px;
    text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}

@media only screen and (max-width: 641px) {
    #loader-text {
        font-size: 0.6em;
    }
}

#loader-text:before {
    content: '>\00a0\00a0\00a0\00a0';
}

#loader-text:after {
    display: inline-block;
    vertical-align: -0.15em;
    width: 0.5em;
    height: 1em;
    background: #1ff042;
    box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
    -webkit-animation: cursor-blink 1.25s steps(1) infinite;
    -moz-animation: cursor-blink 1.25s steps(1) infinite;
    animation: cursor-blink 1.25s steps(1) infinite;
    content: '';
}

@-webkit-keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}